*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
.box{
    width: 300px;
    height: 400px;
}
.BoxTitle{
    color: blue;
    font-size: 20px;
}
.BoxTitle2{
    color: rgb(88, 109, 102);
    font-size: 20px;
    padding: 10px 0px;
}
.BoxTitle3{
    color: rgb(133, 132, 130);
}
.stars-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    color: blue;
    font-size: 24px;
}
.HredBtn{
    border-radius: 30px;
    background-color: blue;
    color: #fff;
    padding: 15px 80px;
    border: none;
    font-weight: 700;
}
.DescBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.boxs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.priceBox{
    display: flex;
    align-items: center;
    gap: 30px;
}
.price2{
    font-size: 16px;
    margin-top: 3px;
    text-decoration: line-through red;
    
}
.zibil_qabi{
    margin-left: 10px;
}
form{
    margin-top: 50px;
    margin-bottom: 100px;
    input{
        padding: 20px;
    }
}
.stars-box2{
    display: flex;
    gap: 10px;
    align-items: center;
}
.DescBox2{
    display: flex;
    align-items: center;
    gap: 15px;
}